<template>
   <div class="home">
      <div class="container content">
         <div class="row">
            <div class="col-lg-6 content__pictures">
               <img src="img/vuejs2.png" alt>
            </div>
            <div class="col-lg-6 order-lg-0">
               <div class="box">
                  <h1>{{headline}}</h1>
                  <p>{{subtitle}}</p>
						<a href="#" class="btn">Button</a>
               </div>
            </div>
         </div>
      </div>
      <app-list/>
   </div>
</template>

<script>
export default {
   name: "home",
   data() {
      return {
         headline: "Demonstration web-application done at Vue.js",
         subtitle:
            "Lorem ipsum dolor sit amet, consectetur adipisc- ing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facilisis. Mauris mattis nec sem nec finibus. Nunc eget leo ut diam imperdiet vehicula ac non elit. Pellentesque nisi neque, sodales nec sem et, condimentum congue ligula. Integer non ullamcorper lacus, sed luctus sapien."
      };
   }
};
</script>

<style lang="scss">
.home {
   position: relative;
   background-color: #efefef;
   background: url(/img/map2.jpg) center top no-repeat;
   background-size: contain;
   padding: 74px 0 0;
   @media (max-width: 1200px) {
      padding: 60px 0 0;
   }
   @media (max-width: 480px) {
      padding: 40px 0 0;
   }
}
.container.content {
   position: relative;
   z-index: 1;
   padding-bottom: 80px;
   @media (max-width: 1200px) {
      padding-bottom: 20px;
   }
   @media (max-width: 991px) {
      max-width: 600px;
   }
}
// .content:before {
//    content: "";
//    position: absolute;
//    bottom: -130px;
//    left: -40%;
//    right: -40%;
//    height: 440px;
//    transform: rotate(-6deg);
//    background-color: rgba(221, 230, 243, 0.23);
//    z-index: -1;
// }
.box {
   background-color: rgba(255, 255, 255, 0.42);
   padding: 53px 54px 50px;
   max-width: 516px;
   box-shadow: 0 4px 18px -7px rgba(30, 30, 30, 0.12);
   @media (max-width: 1200px) {
      max-width: 460px;
   }
   @media (max-width: 991px) {
      max-width: 100%;
		text-align: center;
   }
   @media (max-width: 550px) {
      padding: 30px 23px;
   }
}
.content__pictures {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
   @media (max-width: 991px) {
      margin: 0 auto 30px;
      max-width: 480px;
   }
   @media (max-width: 550px) {
      margin: 0 auto;
   }
}
.order-lg-0 {
   @media (min-width: 991px) {
      order: -1;
   }
}
</style>
