<template>
  <div class="header">
    <div class="container">
      <div class="logo">
        <img src="img/vue-logo.png" alt="">
      </div>
      <div class="d-flex">
        <div class="header__item header__rating"><img src="img/rating.png" alt=""></div>
        <div class="header__item"><img src="img/feedback.png" alt=""></div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scoped lang="scss">
.header {
  padding-top: 33px;
  width: 100%;
  border-bottom: 34px solid #34495e;
  background-repeat: no-repeat,no-repeat;
  background-position: right calc(100% + 32px), center;
  background-image: url(/img/clouds.png), linear-gradient(to top, #e0e7ef 0%, rgba(169, 241, 245, 0.1) 100%);
  @media(max-width: 1200px){
    padding-top: 26px;
    border-bottom-width: 28px;
  }
  @media(max-width: 670px){
    border-bottom-width: 15px;
    background-size: 250%;
  }
  @media(max-width: 550px){
    padding-top: 9px;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 6%;
    @media(max-width: 1200px){
      align-items: center;
    }
    @media(max-width: 991px){
      padding-right: 15px;
    }
  }
}
.logo {
  margin-right: auto;
  width: 120px;
  border-radius: 337% 419% 10px 70%;
	overflow: hidden;
  @media(max-width: 1200px){
    max-width: 110px;
  }
  @media(max-width: 991px){
    max-width: 90px;
  }
  @media(max-width: 420px){
    margin: 0 4px 4px;
    max-width: 60px;
  }
}
.header__item {
  padding: 25px;
  @media(max-width: 991px){
    padding: 20px;
  }
  @media(max-width: 420px){
    display: none;
  }
}
.header__rating {
  @media(max-width: 721px){
    display: none;
  }
}
</style>