<template>
   <div class="list__section">
      <ul class="list container">
         <li class="list__item" v-for="list of lists" :key="list.id">
            <div>
               <i
               v-bind:style="{ 'background-image': 'url(' + list.imageSrc + ')' }"></i>
               <h3>{{list.title}}</h3>
               <p>{{list.description}}</p>
            </div>
         </li>
      </ul>
   </div>
</template>

<script>
export default {
   name: "List",
   computed: {
      lists() {
         return this.$store.state.lists
      },
   }
}
</script>

<style scoped lang="scss">

.list__section {
   position: relative;
   background-color: #64b987;
	background-image: url(/img/home.png),linear-gradient(to top,#34495e,#73d292);
   background-position: center 58%;
   background-clip: padding-box;
   background-size: contain;
	border-top: 8px double #b5bac2;
   padding: 100px 0 50px;
   z-index: 1;
   @media (max-width: 1200px) {
      padding: 60px 0 10px;
   }
   @media (max-width: 480px) {
      padding: 40px 0 10px;
   }
}
.list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1120px;
}
.list__item {
   flex: 0 0 33%;
   max-width: 33.3333%;
   padding: 0 25px;
   margin-bottom: 45px;
   @media (max-width: 1200px) {
      padding: 0 15px;
      margin-bottom: 30px;
   }
   @media(max-width: 991px){
      flex: 0 0 50%;
      max-width: 50%;
   }
   @media(max-width: 670px){
      flex: 0 0 100%;
      max-width: 100%;
   }
   @media(max-width: 360px){
      padding: 0;
   }
   div {
      background-color: #fff;
      box-shadow: inset 0 6px #34495e, 0 4px 18px -7px rgba(30, 30, 30, .12);
      border-radius: 1px 1px 5px 5px;
      min-height: 100%;
      padding: 35px 25px 30px;
      @media (max-width: 1200px) {
         box-shadow: inset 0 3px #34495e, 0 4px 11px -5px rgba(30, 30, 30, .16);
      }
      img {
         display: block;
         margin: 0 auto 28px;
      }
      i {
         display: block;
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
         width: 94px;
         height: 94px;
         margin: 0 auto 12px;
      }
   }
}
</style>
