<template>
  <div id="app" class="wrapper">
      <app-header/>
      <router-view/>
      <app-footer/>

  </div>
</template>

<style lang="scss">
::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-thumb {background: #b5bac2; cursor: pointer; border-radius: 3px}
::-webkit-scrollbar-track-piece{background: #eee;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 15px;
  -ms-overflow-style: scrollbar
}
*,*::before,*::after {
  margin: 0;
  padding: 0;
  outline: 0 none;
  border: none;
  box-sizing: inherit
}
img {max-width: 100%;}

body {
  position: relative;
  color: #67737D;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  line-height: 1.61;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media(max-width: 480px){
    font-size: 17px;
  }
}
section {
  width: 100%;
  position: relative;
}
a,a:focus {
  text-decoration:none;
  outline:0;
  cursor: pointer;
  transition: .3s;
  user-select: none;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 0.6em;
  @media(max-width: 1200px){
    font-size: 35px;
    padding-bottom: 0.4em;
  }
  @media(max-width: 480px){
    font-size: 32px;
    line-height: 1.14;
  }
  @media(max-width: 380px){
    font-size: 28px;
  }
}
h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1em;
  text-align: center;
  color: #34495e;
}
p {padding-bottom: 1em;}

.btn {
  display: block;
  width: 100%;
  max-width: 300px;
  border: none;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .11em;
  text-transform: uppercase;
  padding: 22px 11px;
  margin-top: 20px;
  margin-bottom: 4px;
  border-radius: 4px;
  background-color: #34495e;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  border: none;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: rgba(#34495e,.9);
  }
  @media (max-width: 991px) {
    margin: 15px auto 0;
  }
}
.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1270px;
}
</style>
